.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide1 {
  background-image:url('@../../assets/img/slider/slide1.jpg')
}

.slide2 {
  background-image:url('@../../assets/img/slider/slide2.jpg')
}

.slide3 {
  background-image:url('@../../assets/img/slider/slide3.jpg')
}

.slide4 {
  background-image:url('@../../assets/img/slider/slide4.jpg')
}

.carousel-indicators {
  display: flex !important;
  align-self: flex-start;

  & li {
    align-items: flex-start;
    margin: 10px;
    background-color: #6A6A68;
    border-radius: 10rem;
    width: 3rem;
  }

  & .active {
    background-color: #ABA3A2;
  }

}


.about {
  
  background: url('@../../assets/img/about.jpg') #000 no-repeat center;
  height: 70rem;

  // background-size: 100%;

  &_text{
    position: absolute;
    right: 0;
    padding-top: 13%;
    color: white;
    width: 40%;
    height: 100%;
  }

  &_button {
    color: white;
    background-color: #E19630;
    border: none;
    padding: 1rem 3rem;
    border-radius: 20px;
  }
}

.inversion-packets {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;

  color: white;
  background: url('@../../assets/img/inversion-packets.png') #000 center center no-repeat;
  background-size: cover;
}

.features {
  padding: 9rem 1rem;
  text-align: center;
  background-image: url('@../../assets/img/features_bg.png');

  &-card{
    border-radius: 1rem;
    border-bottom-color: red;
    border-bottom-width: 6px;
    margin: 3rem;

    &_img {
      height: 6rem;
    }

    &_price {
      font-size: 3rem;
    }
    &_icon {
      position: absolute;
      right: -40px;
      height: 10rem;
      bottom: -25px;
    }
    &_text {
      font-size: 1.25rem;
      padding: 3rem 3rem 0 3rem;

    }
  }
  
}

.our-plans {
  background-image: url('@../../assets/img/plans-bg.png');
  padding: 10rem 0;

  &_titletext {
    color: white;
    text-align: center;
  }
}


.newsletter {
  text-align: center;
  padding: 10rem 0;
  height: 100%;
  
  background: url('@../../assets/img/newsletter-bg.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
  color: #fff;
}