.submit-arrow {
  border-left: 0.5px solid black
}

.contact{

  &__container {
    height: 60rem;
    background: url('@../../assets/img/contact.png') #fff no-repeat left;
    background-size: cover;
    background-position-x: -90px;

    
    // color: #fff;
    margin-bottom: 0px;
  }

  &_form{
    position: absolute;
    right: 10%;
    width: 35%;
    padding-top: 5%;
    margin: 2rem;

    &-button {
      text-align: center;
      display: flex;
      width: 15rem;
      padding: 1rem 2rem;

      background-color: #FDAF38;
      border: none;
      border-radius: 3rem;
      cursor: pointer;

      &-text{
        font-size: 12px;
        font-weight: 700;
        margin: auto;
      }

    }
    &-submit {
      text-align: center;
    }
    &-group {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
      margin: 1.5rem;
    }

    & input{
      border-radius: 10.75px;
      height: 45px;
      border: 3px solid #FDAF38;
      // background-color: transparent;
    }
    &  textarea {
      border-radius: 10.75px;
      border: 3px solid #FDAF38;
    }
  }
}

@media (max-width: 1000px){
  .contact__container{
    background: none;
  }

  .contact_form{
    width: 80%;
  }
}