footer {
    // height: 30rem;
    display: flex;
    background: #000;
    color: white;
    

    ul {
        display: flex;
        list-style-type: none;
    
        li {
            margin: 5rem;
        }
    }

}


.footer-logo {
    height: 7rem;
}

.footer__container span{
    font-size: 2.5rem;
  }

  .footer__container ul {
    font-size: 15px;
  }

  .footer__container ul li {
    margin-right: 0px;
    margin-left: 40px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%; 
    height: 82px; 
    
    background-color: #FDAF38;
    font-weight: 600;
  }