html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,300,400,400i,500,500i,600,700,900'); 


@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,900');

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1.5rem;
}

